@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");
body{
    background: #fcf3e3;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}
button{
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: #ff4747;
    padding: 10px 15px;
    cursor: pointer;
}
.items a{
  display: flex;
  color: #ff4747;
  font-size: 20px;
  text-decoration: none;
}
.dropdown span a{
    display: block;
    color: #695356;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown span i{
    color: #ff4747;
}
.dropdown .items{
    background-color: burlywood;
    display: none;
    margin-left: -10px;
    min-width: 80px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 0.8);
    position: absolute;
}
.dropdown:hover .items{
    display: block;
}
.dropdown:hover button{
    color: #ffb547;
    rotate: 90deg;
}
.dropdown span a:hover{
    background-color: bisque;
}
h4{
    color: #695356;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    margin-top: 0;/*aligns the logo with the button*/
}
hr{
    border: 1px solid #ffb547;
    margin-top: -20px;
}

h1{
    color: #695356;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: center;
}
#job-search-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#job-search-form input {
  height: 45px;
  width: 87%;
  border: 2px solid #ffb547;
  outline: none;
  border-radius: 30px;
  color: black;
  cursor: pointer;
  padding: 0 0 0 45px;
  background: rgba(255, 255, 255, 0.1);
}
#job-search-btn {
  border: 1px solid #ff4747;
  border-radius: 30px;
  color: #695356;
  cursor: pointer;
  font-size: 15px;
  height: 45px;
  outline: none;
  align-self: center;
  width: 30%;
  background: bisque;
  transition: 0.3s;
}
#job-search-btn:hover {
  box-shadow: 1px 5px 7px 1px rgba(253, 115, 115, 0.2);
}
